* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 320px;
  margin: 0 auto;
  font-size: 16px;
}

header {
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.filter, .add-new {
  margin: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

form label {
  display: block;
  margin: 10px;
  padding: 10px;
}

legend, input, textarea {
  margin-left: 10px;
}

.add-new-button {
  padding: 10px;
}

form button {
  padding: 10px;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
}

li {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid gray;
}

li span {
  display: block;
  margin-bottom: 10px;
}

li button {
  padding: 10px;
}